.heading {
    display: flex;
    justify-content: space-between;
}

.heading_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.content {
    margin: 15px 17px;
}

.heading_right {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.content-2 {
    margin: 15px;
}

.content-2-one {
    width: 332px;
    height: 32px;
    background-color: #F3F4F6;
    display: flex;
    justify-content: left;
    align-items: center;
}

.seach {
    color: #BCC1CA;
    margin-left: 5px;
}


/* center */

.center {
    width: 1200px;
    margin-left: 140px;
    margin-right: 280px;
}

.center_one {
    display: flex;
    margin-top: 50px;
}

.mau {
    color: #BCC1CA;
    padding-left: 3px;
    padding-right: 7px;
}

.mau_one {
    color: #1E1E1E;
    padding-left: 3px;
    padding-right: 7px;
}

.center_two {
    font-size: 50px;
}

.center_three {
    display: flex;
    justify-content: space-between;
}

.center_three-left {
    display: flex;
}

.center_three-right {
    display: flex;
}

.center_four {
    display: flex;
    margin-top: 15px;
}

.center_five {
    display: flex;
    margin-top: 15px;
}

.center_five_left {
    width: 780px;
    height: 410px;
    background-color: aquamarine;
}

.center_five_right {
    width: 420px;
    height: 410px;
    background-color: rgb(196, 205, 255);
}

.lefticon {
    display: flex;
}

.lefticon_left-one {
    display: flex;
}

.supportlefticon {
    margin-top: 5px;
    margin-left: 5px;
}